<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walkfront2.png</string>
            <key>size</key>
            <string>{1920,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ba5390b798231bc93067679fdee67bc:ab5f17a7c9758cc952958c4e5569b724:fbe8aa13a4618d9bfbf56b7045c8eb69$</string>
            <key>textureFileName</key>
            <string>walkfront2.png</string>
        </dict>
    </dict>
</plist>
