<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2335.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2337.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walkleft2.png</string>
            <key>size</key>
            <string>{1920,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab1d750e9e1e6b81a3118aa57cc31fd4:2c9872358580ead73600864eaea5c521:9a3952493201f33e233ea3a481e25ee9$</string>
            <key>textureFileName</key>
            <string>walkleft2.png</string>
        </dict>
    </dict>
</plist>
