<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dieback2.png</string>
            <key>size</key>
            <string>{1920,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e5aa105f3a94ef2e4c3f80c81fc570:1e1585e44226e3578c711075e6629060:fdb9074cd5976f023853b3c5e5a6624a$</string>
            <key>textureFileName</key>
            <string>dieback2.png</string>
        </dict>
    </dict>
</plist>
