<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walkfront1.png</string>
            <key>size</key>
            <string>{1920,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c103afac6900fbb70c1a6e41b576b15c:393d99872744a61109339f966669c090:fdc4a104ab2d6d55e58fd314011c14f3$</string>
            <key>textureFileName</key>
            <string>walkfront1.png</string>
        </dict>
    </dict>
</plist>
