<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1280,640},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{0,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{640,1280},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>standleft2.png</string>
            <key>size</key>
            <string>{1920,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd0ea8697f1d70ac52c7c3c818316bb3:1b5c2dae8d8f9845b8d85c96bfc26e39:e04779d7199fef82b934fabca4182161$</string>
            <key>textureFileName</key>
            <string>standleft2.png</string>
        </dict>
    </dict>
</plist>
